<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${bank.getName()}">VALUE</title>
</head>
<body>
<p th:text="${'Name' + ', ' + bank.getName()}"></p>
<p th:text="${'БИК: ' + bank.getBik()}"></p>
<p th:text="${'Рассчетный счет: ' + bank.getCheckingAccount()}"></p>
<p th:text="${'Корпоративный счет: ' + bank.getCorporateAccount()}"></p>
<br/>
<hr/>
<div th:if="${bank.getClientDTO() == null}">
  <p>Client information is not available</p>
</div>
<div th:if="${bank.getClientDTO() != null}">
  <p th:text="${bank.getClientDTO().getFullName() + ', ' + bank.getClientDTO().getShortName()}"></p>
  <p th:text="${'INN: ' + bank.getClientDTO().getInn()}"></p>
  <p th:text="${'KPP: ' + bank.getClientDTO().getKpp()}"></p>
  <p th:text="${'OGRN: ' + bank.getClientDTO().getOgrn()}"></p>
</div>
<br/>
<a th:href="@{/banks/{id}/edit(id=${bank.getId()})}">Update bank</a>
<br/>
<form th:method="DELETE" th:action="@{/banks/{id}(id=${bank.getId()})}" th:object="${bank}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>

