<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Client and Bank</title>
</head>
<body>
<h2>Create Client and Bank</h2>
<form th:method="PATCH" th:action="@{/banks/{id}(id=${bank.getId()})}" th:object="${bank}">

    <label for="bankName">Bank Name:</label>
    <input type="text" th:field="*{name}" id="bankName"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Bank Name error</div>
    <br/>
    <label for="bik">BIK:</label>
    <input type="text" th:field="*{bik}" id="bik"/>
    <div style="color:red" th:if="${#fields.hasErrors('bik')}" th:errors="*{bik}">BIK error</div>
    <br/>
    <label for="checkingAccount">Checking Account:</label>
    <input type="text" th:field="*{checkingAccount}" id="checkingAccount"/>
    <div style="color:red" th:if="${#fields.hasErrors('checkingAccount')}" th:errors="*{checkingAccount}">Checking
        Account error
    </div>
    <br/>
    <label for="corporateAccount">Corporate Account:</label>
    <input type="text" th:field="*{corporateAccount}" id="corporateAccount"/>

    <div style="color:red" th:if="${#fields.hasErrors('corporateAccount')}" th:errors="*{corporateAccount}">Corporate
        Account error
    </div>
    <br/>
    <label for="city">City:</label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City error</div>
    <br/>
    <label for="country">Country:</label>
    <input type="text" th:field="*{country}" id="country"/>
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</div>
    <br/>
    <input type="submit" value="Update bank"/>
</form>
</body>
</html>