<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
<p th:text="${'Order ID: ' + order.getId()}">VALUE</p>
<p th:text="${'Client ID: '+ order.getClientId()}">VALUE</p>
<p th:text="${'Created At: ' + order.getCreatedAt()}">VALUE</p>
<p th:text="${'Updated At: ' + order.getUpdatedAt()}">VALUE</p>
<br/>
<hr/>
<a href="/orders">All orders</a>
<br/>
<a th:href="@{/orders/{id}/edit(id=${order.getId()})}">Update</a>
<br/>
<form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}" th:object="${order}">
    <input type="submit" value="Delete">
</form>
</body>
</html>