<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/orders/{id}(id=${order.getId()})}" th:object="${order}">
    <label for="clientId">Client ID: </label>
    <input type="number" th:field="*{clientId}" id="clientId"/>
    <div style="color:red" th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}">Error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>