<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Client and Bank</title>
</head>
<body>
<h2>Create Client and Bank</h2>
<form th:method="POST" th:action="@{/clients/{id}}" th:object="${client}" id="clientAndBankForm">
  <input type="hidden" th:name="_method" th:value="POST" />
  <label for="clientShortName">Client Short Name:</label>
  <input type="text" th:field="*{shortName}" id="clientShortName"/>
  <div style="color:red" th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}">Short Name error</div>
  <br/>
  <label for="clientFullName">Client Full Name:</label>
  <input type="text" th:field="*{fullName}" id="clientFullName"/>
  <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name error</div>
  <br/>
  <label for="clientInn">Client INN:</label>
  <input type="text" th:field="*{inn}" id="clientInn"/>
  <div style="color:red" th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}">INN error</div>
  <br/>
  <label for="clientKpp">Client KPP:</label>
  <input type="text" th:field="*{kpp}" id="clientKpp"/>
  <div style="color:red" th:if="${#fields.hasErrors('kpp')}" th:errors="*{kpp}">KPP error</div>
  <br/>
  <label for="clientOgrn">Client OGRN:</label>
  <input type="text" th:field="*{ogrn}" id="clientOgrn"/>
  <div style="color:red" th:if="${#fields.hasErrors('ogrn')}" th:errors="*{ogrn}">OGRN error</div>
  <br/>

  <hr/>

  <label for="bankName">Bank Name:</label>
  <input type="text" th:field="*{bankDTO.name}" id="bankName"/>
  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.name')}" th:errors="*{bankDTO.name}">Bank Name error</div>
  <br/>
  <label for="bik">BIK:</label>
  <input type="text" th:field="*{bankDTO.bik}" id="bik"/>
  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.bik')}" th:errors="*{bankDTO.bik}">BIK error</div>
  <br/>
  <label for="checkingAccount">Checking Account:</label>
  <input type="text" th:field="*{bankDTO.checkingAccount}" id="checkingAccount"/>
  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.checkingAccount')}" th:errors="*{bankDTO.checkingAccount}">Checking Account error</div>
  <br/>
  <label for="corporateAccount">Corporate Account:</label>
  <input type="text" th:field="*{bankDTO.corporateAccount}" id="corporateAccount"/>

  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.corporateAccount')}" th:errors="*{bankDTO.corporateAccount}">Corporate Account error</div>
  <br/>
  <label for="city">City:</label>
  <input type="text" th:field="*{bankDTO.city}" id="city"/>
  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.city')}" th:errors="*{bankDTO.city}">City error</div>
  <br/>
  <label for="country">Country:</label>
  <input type="text" th:field="*{bankDTO.country}" id="country"/>
  <div style="color:red" th:if="${#fields.hasErrors('bankDTO.country')}" th:errors="*{bankDTO.country}">Country error</div>
  <br/>
  <input type="submit" value="Create Client and Bank"/>
</form>
</body>
</html>