<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/products/{id}(id=${product.id})}" th:object="${product}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br/>
    <label for="type">Type: </label>
    <select th:field="*{type}" id="type">
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:selected="${type == product.type}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Error</div>
    <br/>
    <label for="quantity">Quantity: </label>
    <input type="number" th:field="*{quantity}" id="quantity"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
