<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
</head>
<body>
<p th:text="${'User name: ' + user.getName()}">VALUE</p>
<p th:text="${'Surname: '+ user.getSurname()}">VALUE</p>
<p th:text="${'Patronymic: ' + user.getPatronymic()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${'Created At: ' + user.getCreatedAt()}">VALUE</p>
<p th:text="${'Date of Birth: ' + user.getDateOfBirth()}">VALUE</p>
<br/>
<hr/>
<a href="/users">All users</a>
<br/>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Update</a>
<br/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <input type="submit" value="Delete">
</form>
</body>
</html>